
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  /* Classe para esconder a barra de rolagem mas manter a funcionalidade */
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
  .scrollbar-hide {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }
}
